The goal of this lab is to optimize a Random Forest model using the provided dataset.  The guidance this week is less prescriptive in terms of steps, so use the skills you have gained over the semester to build and evaluate the RF model. You will be graded on your model building, interpretation of the results and explanation of model selection. As always, rely on your teams but submit your own code. Lastly, there are likely several correct approaches involving a variety of different conclusions, just make sure your conclusions are supported by your approach.    

The dataset should be familiar as it's the census data, on 32,000+ individuals with a variety of variables and a target variable for above or below 50k in salary. 

Your goal is to build a Random Forest Classifier to be able to predict income levels above or below 50k.

Answer the below questions along the way.

In [1]:
#imports...
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import ConfusionMatrixDisplay
from sklearn.ensemble import RandomForestClassifier
from lime import lime_tabular
from sklearn.inspection import permutation_importance
#below is a new package needed for this lab
#from ucimlrepo import fetch_ucirepo

In [11]:
# fetch dataset 
#webpage: https://archive.ics.uci.edu/ml/datasets/Adult

import pandas as pd

adult = pd.read_csv('/Users/Luke/DS-3001/data/adult.csv')
  
# data (as pandas dataframes) 
X = adult.drop('class', axis=1)
y = adult['class']  # 'class' is the correct name of the target variable
  
# metadata 
print(adult.describe()) 
  
# variable information
# variable information

                age        fnlwgt  education-num   capitalgain   capitalloss  \
count  48842.000000  4.884200e+04   48842.000000  48842.000000  48842.000000
mean       1.771078  1.896641e+05      10.078089      0.200319      0.114942
std        1.295378  1.056040e+05       2.570973      0.746182      0.556924
min        0.000000  1.228500e+04       1.000000      0.000000      0.000000
25%        1.000000  1.175505e+05       9.000000      0.000000      0.000000
50%        2.000000  1.781445e+05      10.000000      0.000000      0.000000
75%        3.000000  2.376420e+05      12.000000      0.000000      0.000000
max        4.000000  1.490400e+06      16.000000      4.000000      4.000000

       hoursperweek
count  48842.000000
mean       1.950698
std        0.897038
min        0.000000
25%        2.000000
50%        2.000000
75%        2.000000
max        4.000000

In [12]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             48842 non-null  int64
 1   workclass       46043 non-null  object
 2   fnlwgt          48842 non-null  int64
 3   education       48842 non-null  object
 4   education-num   48842 non-null  int64
 5   marital-status  48842 non-null  object
 6   occupation      46033 non-null  object
 7   relationship    48842 non-null  object
 8   race            48842 non-null  object
 9   sex             48842 non-null  object
 10  capitalgain     48842 non-null  int64
 11  capitalloss     48842 non-null  int64
 12  hoursperweek    48842 non-null  int64
 13  native-country  47985 non-null  object
dtypes: int64(6), object(8)
memory usage: 5.2+ MB

In [13]:
X.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native-country
0,2,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,1,0,2,United-States
1,3,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,0,United-States
2,2,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,2,United-States
3,3,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,2,United-States
4,1,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,2,Cuba

In [ ]:
#Load data and note any issues.

In [ ]:
#Preprocess data and note needed information prior to building the model.

In [ ]:
#Build the RF model using default values from the in class example

In [ ]:
#How did the training process perform? What is the precision, recall, and accuracy of the model? What is the 
#out of bad error rate? Display the confusion matrix.

In [ ]:
#Which row in the data has the highest probability of being a positive case? Which row has the highest probability
#of being a negative case?

In [ ]:
#Create a density plot of the positive class probabilities and comment on the pattern you see.

In [ ]:
#Create a sorted list of feature importances and comment on the top features. Are there a few that seem
#to be more important than the others?

In [ ]:
#Generate feature importances using permutation importance, with precision as the metric. Do the results match 
#the feature importances from above? If they are different what might be the reason?

In [ ]:
#Select the optimal number of trees for the model and retrain the model.

In [ ]:
#Select the optimal number of features for the model and retrain the model.

In [ ]:
#Compare the new tree to the original tree. What is the difference in the OOBE and confusion matrix? Which
#features contibute the most

In [ ]:
#Predict with the test set and discuss the models performance, include the ROC curve and AUC.

In [ ]:
#Bonus (7 points) - Use the LIME package to show the why one row in the test set was classified as positive.